# Exercise 05

## Logistic regression exercise with Titanic data




We'll be working with a dataset from Kaggle's Titanic competition: [data](https://github.com/justmarkham/DAT8/blob/master/data/titanic.csv), [data dictionary](https://www.kaggle.com/c/titanic/data)

**Goal**: Predict survival based on passenger characteristics

The sinking of the RMS Titanic is one of the most infamous shipwrecks in history.  On April 15, 1912, during her maiden voyage, the Titanic sank after colliding with an iceberg, killing 1502 out of 2224 passengers and crew. This sensational tragedy shocked the international community and led to better safety regulations for ships.

One of the reasons that the shipwreck led to such loss of life was that there were not enough lifeboats for the passengers and crew. Although there was some element of luck involved in surviving the sinking, some groups of people were more likely to survive than others, such as women, children, and the upper-class.

In this challenge, we ask you to complete the analysis of what sorts of people were likely to survive. In particular, we ask you to apply the tools of machine learning to predict which passengers survived the tragedy.

Read the data into Pandas

In [49]:
import pandas as pd
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/titanic.csv'
titanic = pd.read_csv(url, index_col='PassengerId')
titanic.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

Create X and y

Define **Pclass** and **Parch** as the features, and **Survived** as the response.

In [50]:
feature_cols = ['Pclass', 'Parch']
X = titanic[feature_cols]
y = titanic.Survived

# Exercise 5.1 

Split the data into training and testing sets

In [51]:
import numpy as np
aleatorio = np.random.rand(y.shape[0])

X_train, X_test = X[random_sample<0.7], X[random_sample>=0.7]
Y_train, Y_test = y[random_sample<0.7], y[random_sample>=0.7]

print(Y_train.shape, Y_test.shape)

(638,) (253,)

In [52]:
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test= train_test_split(X, y , test_size=0.3, random_state=42)
print(y_train.shape, y_test.shape)

(623,) (268,)

# Exercise 5.2

Fit a logistic regression model and examine the coefficients

Confirm that the coefficients make intuitive sense.

In [53]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(C=1e9)

logreg.fit(X_train, y_train)

LogisticRegression(C=1000000000.0, class_weight=None, dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='ovr', n_jobs=1, penalty='l2', random_state=None,
          solver='liblinear', tol=0.0001, verbose=0, warm_start=False)

# Exercise 5.3

Make predictions on the testing set and calculate the accuracy

In [54]:
y_pred = logreg.predict(X_test)

In [56]:
(y_test == y_pred).mean()

0.70522388059701491

# Exercise 5.4

Confusion matrix of Titanic predictions

In [57]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[132,  25],
       [ 54,  57]])

# Exercise 5.5

Increase sensitivity by lowering the threshold for predicting survival

Create a new classifier by changing the probability threshold to 0.3

What is the new confusion matrix?

In [58]:
nums=logreg.predict_proba(X_test)[:,1]

In [59]:
y_pred1=np.where(nums >= 0.3 , 1, 0)

In [60]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred1)

array([[95, 62],
       [31, 80]])