# Exercise 07

## Kaggle competition 

* Overview of how Kaggle works ([slides](https://github.com/justmarkham/DAT8/raw/master/slides/16_kaggle.pdf))
* Kaggle Titanic competition: [Titanic: Machine Learning from Disaster](https://www.kaggle.com/c/titanic)

# Exercise 07.1 (20 points)

Create a submission using different classification methods, preprocessing extrategies and cross-validation techniques discussed during the class. The output must be detailed in this notebook.

# Exercise 07.2 (20 points)

The reminder points will be allocated based on the performance of each one submission.

In [ ]:
Supervivencia     Supervivencia (0 = No, 1 = Sí)
pClass            Pasajeros de clase (1 = 1 °, 2 = segundo; 3 = 3 º)
Name              Nombre
sexo              Sexo
Edad              Edad
sibsp             Número de hermanos / A bordo cónyuges
parch             Número de padres / Niños A bordo
ticket            N° de entradas
fare              Tarifas de los pasajeros
cabin             Cabina
embarked          Puerto de embarque (C = Cherburgo; Q = Queenstown; S = Southampton)

In [125]:
import pandas as pd
import numpy as np

In [126]:
train_df = pd.read_csv('titanic_train.csv', header=0)
test_df = pd.read_csv('titanic_test.csv', header=0)

In [127]:
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

## Create features

In [128]:
titanic = train_df
titanic.Age.fillna(titanic.Age.median(), inplace=True)
titanic['Sex_Female'] = (titanic['Sex'] == 'female').astype(np.int)
embarked_dummies = pd.get_dummies(titanic.Embarked, prefix='Embarked')
embarked_dummies.drop(embarked_dummies.columns[0], axis=1, inplace=True)
titanic = pd.concat([titanic, embarked_dummies], axis=1)

In [129]:
titanic.head(1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_Female,Embarked_Q,Embarked_S
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.25,NaN,S,0,0,1

## Train Model

In [130]:
# define X and y
feature_cols = ['Pclass', 'Parch', 'Age', 'Sex_Female', 'Embarked_Q', 'Embarked_S']
X = titanic[feature_cols]
y = titanic.Survived

# train/test split
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

# train a logistic regression model
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(C=1e9)
logreg.fit(X_train, y_train)

# make predictions for testing set
y_pred_class = logreg.predict(X_test)

# calculate testing accuracy
from sklearn import metrics
print(metrics.accuracy_score(y_test, y_pred_class))

0.793721973094

# Apply model to Test set

In [131]:
test_df.Age.fillna(titanic.Age.median(), inplace=True)  # Note use median from training set
test_df['Sex_Female'] = (test_df['Sex'] == 'female').astype(np.int)
embarked_dummies = pd.get_dummies(test_df.Embarked, prefix='Embarked')
embarked_dummies.drop(embarked_dummies.columns[0], axis=1, inplace=True)
test_df = pd.concat([test_df, embarked_dummies], axis=1)

In [132]:
test_df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_Female,Embarked_Q,Embarked_S
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,0,1,0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,1,0,1
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,0,1,0
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,0,0,1
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,1,0,1

In [133]:
predictions = logreg.predict(test_df[feature_cols])

In [11]:
# Kaggle needs the submission to have a certain format;
# see https://www.kaggle.com/c/titanic-gettingStarted/download/gendermodel.csv
# for an example of what it's supposed to look like.
submission = pd.DataFrame({ 'PassengerId': test_df['PassengerId'],
                            'Survived': predictions })
submission.to_csv("titanic_submission.csv", index=False)

# Primer Método

In [134]:
import pandas as pd
import numpy as np

In [135]:
train_df = pd.read_csv('titanic_train.csv', header=0)
test_df = pd.read_csv('titanic_test.csv', header=0)

In [136]:
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

In [137]:
titanic = train_df
titanic.Age.fillna(titanic.Age.mean(), inplace=True)
titanic.Embarked.fillna('S', inplace=True)
titanic['Sex_Female'] = titanic.Sex.map({'male':0, 'female':1})
embarked_dummies = pd.get_dummies(titanic.Embarked, prefix='Embarked')
titanic = pd.concat([titanic, embarked_dummies], axis=1)

In [138]:
titanic.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
Sex_Female       0
Embarked_C       0
Embarked_Q       0
Embarked_S       0
dtype: int64

In [139]:
titanic.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_Female,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S,0,0,0,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C,1,1,0,0

In [140]:
titanic['Age2'] = titanic['Age'] ** 2
titanic['SibSp2'] = titanic['SibSp'] ** 2
titanic['Parch2'] = titanic['Parch'] ** 2
titanic['Fare2'] = titanic['Fare'] ** 2

In [141]:
titanic.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_Female,Embarked_C,Embarked_Q,Embarked_S,Age2,SibSp2,Parch2,Fare2
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S,0,0,0,1,484,1,0,52.562500
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C,1,1,0,0,1444,1,0,5081.308859

In [142]:
# define X and y
feature_cols = ['Pclass', 'Age', 'SibSp','Parch','Fare','Sex_Female', 'Embarked_C','Embarked_Q', 'Embarked_S', 'Age2', 'SibSp2','Parch2','Fare2']
X = titanic[feature_cols]
y = titanic.Survived

# train/test split
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

# train a logistic regression model
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(C=1e9)
logreg.fit(X_train, y_train)

# make predictions for testing set
y_pred_class = logreg.predict(X_test)

# calculate testing accuracy
from sklearn import metrics
print(metrics.accuracy_score(y_test, y_pred_class))

0.80269058296

In [143]:
test_df.Age.fillna(test_df.Age.mean(), inplace=True) 
test_df.Embarked.fillna('S', inplace=True)
test_df['Sex_Female'] = test_df.Sex.map({'male':0, 'female':1})
embarked_dummies = pd.get_dummies(test_df.Embarked, prefix='Embarked')
test_df = pd.concat([test_df, embarked_dummies], axis=1)
test_df['Age2'] = test_df['Age'] ** 2
test_df['SibSp2'] = test_df['SibSp'] ** 2
test_df['Parch2'] = test_df['Parch'] ** 2
test_df['Fare2'] = test_df['Fare'] ** 2

In [144]:
test_df.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
Sex_Female       0
Embarked_C       0
Embarked_Q       0
Embarked_S       0
Age2             0
SibSp2           0
Parch2           0
Fare2            1
dtype: int64

In [145]:
test_df.head(2)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_Female,Embarked_C,Embarked_Q,Embarked_S,Age2,SibSp2,Parch2,Fare2
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,0,0,1,0,1190.25,0,0,61.296373
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,1,0,0,1,2209.00,1,0,49.000000

In [146]:
predictions = logreg.predict(test_df[feature_cols])

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

# Segundo Método

In [13]:
from sklearn.cross_validation import cross_val_score

logreg = LogisticRegression(C=1e9)

results = cross_val_score(logreg, X, y, cv=10, scoring='accuracy')

In [14]:
pd.Series(results).describe()

count    10.000000
mean      0.800295
std       0.025752
min       0.775281
25%       0.779963
50%       0.787703
75%       0.824406
max       0.842697
dtype: float64

In [39]:
features = ['Pclass', 'Age', 'SibSp','Parch','Fare','Sex_Female', 'Embarked_C','Embarked_Q', 'Embarked_S', 'Age2', 'SibSp2','Parch2','Fare2']

In [40]:
import itertools

possible_models = []
for i in range(1,len(features)+1):
    possible_models.extend(list(itertools.combinations(features,i)))

In [42]:
y = titanic.Survived

a = pd.DataFrame(index=possible_models, columns=['accuracy'])
for i in range(len(possible_models)):
    X = titanic[list(possible_models[i])] 
    from sklearn.linear_model import LogisticRegression
    logreg = LogisticRegression(C=1e9)

    from sklearn.cross_validation import cross_val_score
    a.iloc[i]=cross_val_score(logreg,X,y, cv=10,scoring='accuracy').mean()

KeyboardInterrupt:

In [ ]:
a.sort_values('accuracy',ascending=False).head()

# Tercer Método

In [27]:
features =  ['Pclass', 'Age', 'SibSp','Parch','Fare','Sex_Female', 'Embarked_C','Embarked_Q', 'Embarked_S', 'Age2', 'SibSp2','Parch2','Fare2']
X = titanic[list(features)]
y = titanic['Survived']

In [29]:
sel=[]
for i in range(1, 14):
    from sklearn.feature_selection import SelectKBest
    sel = SelectKBest(k=i)
    sel.fit(X, y)
    sel.get_support()
    from sklearn.linear_model import LogisticRegression
    from sklearn.cross_validation import cross_val_score
    logreg = LogisticRegression(C=1e9)
    X_sel = sel.transform(X)
    print(i,pd.Series(cross_val_score(logreg, X_sel, y, cv=10, scoring='accuracy')).mean())

1 0.7866981613891728
2 0.7866981613891728
3 0.7822287481557145
4 0.772178810577687
5 0.769931619566451
6 0.7800190103279991
7 0.7912680172511634
8 0.7901319373510385
9 0.7946521393712406
10 0.8036281352854386
11 0.7991462376574735
12 0.7968865622517309
13 0.800295369424583

In [31]:
from sklearn.feature_selection import SelectKBest

sel = SelectKBest(k=10)
sel.fit(X, y)
sel.get_support()
print(np.array(features)[~sel.get_support()])

['SibSp' 'Embarked_Q' 'Parch2']

# Tercer Método

In [32]:
sel=[]
for i in range(1, 100,10):
    from sklearn.feature_selection import SelectPercentile, f_classif
    sel = SelectPercentile(f_classif, percentile=i)
    sel.fit(X, y)
    sel.get_support()
    X_sel = sel.transform(X)
    print(i,pd.Series(cross_val_score(logreg, X_sel, y, cv=10, scoring='accuracy')).mean())

1 0.7866981613891728
11 0.7866981613891728
21 0.7822287481557145
31 0.772178810577687
41 0.769931619566451
51 0.7912680172511634
61 0.7901319373510385
71 0.7946521393712406
81 0.8036281352854386
91 0.7991462376574735

In [33]:
from sklearn.feature_selection import SelectPercentile, f_classif

sel = SelectPercentile(f_classif, percentile=50)
sel.fit(X, y)
sel.get_support()
print(np.array(features)[~sel.get_support()])

['Age' 'SibSp' 'Parch' 'Embarked_Q' 'Age2' 'SibSp2' 'Parch2']

# Cuarto Método

In [36]:
sel=[]
for i in range(1, 14):
    from sklearn.feature_selection import RFE
    sel = RFE(estimator=logreg, n_features_to_select=i)
    sel.fit(X, y)
    X_sel = sel.transform(X)
    print(i,pd.Series(cross_val_score(logreg, X_sel, y, cv=10, scoring='accuracy')).mean())

1 0.7866981613891728
2 0.7866981613891728
3 0.7710552150720689
4 0.7710552150720689
5 0.7845264442174554
6 0.7811806264896153
7 0.7890710475541935
8 0.7946640562932696
9 0.7946640562932696
10 0.8025553285665644
11 0.8002953694245829
12 0.810370559527863
13 0.800295369424583

In [38]:
from sklearn.feature_selection import RFE
sel = RFE(estimator=logreg, n_features_to_select=12)
sel.fit(X, y)
print(np.array(features)[~sel.get_support()])

['Fare2']